/* boopa nav */
.boopa-nav {
  z-index: 9000;
  position: fixed;
  /*boopa nav header*/
  width: 100vw;
  background-color: #144372;
  color: #e6e7e8;
  height: 3.2rem;
  padding: 0.8rem;
  box-shadow: 0px -3px 5px 2px #000;
  /* expanded tool icons */
  /* searchbox */ }
  .boopa-nav .btn {
    padding-top: 0;
    display: inline-block;
    cursor: pointer;
    background: rgba(0, 0, 0, 0); }
  .boopa-nav .boopa-nav-toggle {
    position: absolute;
    top: 0.7rem;
    right: 2rem;
    cursor: pointer;
    margin: 0;
    padding-top: 0;
    width: 2rem;
    font-size: 1.4rem;
    padding-right: 1rem;
    transform: translate(0, -0.3rem); }
    .boopa-nav .boopa-nav-toggle .boopa-nav-toggle-open {
      display: inline-block; }
    .boopa-nav .boopa-nav-toggle .boopa-nav-toggle-close {
      display: none; }
    .boopa-nav .boopa-nav-toggle.active .boopa-nav-toggle-open {
      display: none; }
    .boopa-nav .boopa-nav-toggle.active .boopa-nav-toggle-close {
      display: inline-block; }
    .boopa-nav .boopa-nav-toggle.boopa-nav-toggle-left {
      left: 0.6rem; }
  .boopa-nav .boopa-nav-logo {
    height: 2.3rem;
    position: absolute;
    top: 1.7rem;
    left: 50vw;
    transform: translate(-50%, -50%); }
  .boopa-nav #boopa-nav-tool i {
    margin-right: 1.5rem;
    margin-left: 0.5rem; }
  .boopa-nav .search-form .form-group {
    position: absolute;
    right: 4.5rem;
    top: 0.5rem;
    transition: all 0.35s;
    width: 35px;
    height: 33px;
    padding-bottom: 32px;
    background-color: #144372;
    box-shadow: none;
    border-radius: 20px;
    border: 1px solid #144372; }
    .boopa-nav .search-form .form-group:hover, .boopa-nav .search-form .form-group.hover {
      width: 240px;
      border: 1px solid #e6e7e8; }
    .boopa-nav .search-form .form-group input.form-control {
      padding-right: 20px;
      border: 0 none;
      padding-bottom: 5px;
      background: transparent;
      box-shadow: none;
      display: block;
      color: #e6e7e8; }
    .boopa-nav .search-form .form-group i {
      position: absolute;
      top: -2px;
      right: 1px;
      z-index: 2;
      display: block;
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      color: #e6e7e8;
      left: initial;
      font-size: 18px; }
  .boopa-nav i, .boopa-nav #boopa-nav-tool {
    color: #e6e7e8; }

/* nav menu */
.boopa-nav-menu {
  z-index: 8000;
  position: fixed;
  width: 100%;
  max-width: 250px;
  background-color: #e6e7e8;
  height: 100%;
  transition: transform 0.5s;
  overflow-y: scroll;
  box-shadow: 2px 0 3px 1px #000;
  right: 0;
  /* special links */
  /* profile menu */ }
  .boopa-nav-menu::-webkit-scrollbar {
    /* disable scroll bar */
    display: none; }
  .boopa-nav-menu.inactive {
    transform: translate(285px, 0px); }
  .boopa-nav-menu.boopa-nav-menu-left {
    left: 0;
    box-shadow: -2px 0 3px 1px #000; }
    .boopa-nav-menu.boopa-nav-menu-left.inactive {
      transform: translate(-285px, 0px); }
  .boopa-nav-menu .nav li {
    margin: 0;
    padding: 0; }
  .boopa-nav-menu .nav-item {
    margin: 0; }
    .boopa-nav-menu .nav-item .nav-link {
      font-weight: 500; }
      .boopa-nav-menu .nav-item .nav-link i {
        margin-top: 0.2rem;
        transition: transform 0.5s; }
    .boopa-nav-menu .nav-item .nav-link:not(.collapsed) {
      background-color: #bdd747;
      color: #1b75bb; }
      .boopa-nav-menu .nav-item .nav-link:not(.collapsed) i {
        transform: rotate(-90deg);
        transform-origin: 50% 50%; }
    .boopa-nav-menu .nav-item .nav-link.collapsed {
      background-color: #1b75bb;
      color: #e6e7e8 !important; }
    .boopa-nav-menu .nav-item .nav-link-accordion {
      padding: 0.2rem 1.5rem; }
      .boopa-nav-menu .nav-item .nav-link-accordion li {
        padding: 0.4rem 0; }
  .boopa-nav-menu a {
    color: #666; }
    .boopa-nav-menu a:hover {
      color: #000; }
  .boopa-nav-menu .boopa-nav-accordion {
    margin-top: 3.2rem; }
    .boopa-nav-menu .boopa-nav-accordion .nav-link-accordion {
      list-style-type: none; }
      .boopa-nav-menu .boopa-nav-accordion .nav-link-accordion li {
        font-size: 1rem;
        margin-bottom: 5px; }
  .boopa-nav-menu .boopa-nav-filler {
    height: 8.5rem; }
  .boopa-nav-menu .boopa-nav-menu-buttons {
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 4rem;
    padding: 0.8rem 2rem 1rem 1.5rem;
    width: 100%;
    max-width: inherit;
    height: 4.5em;
    background: inherit; }
    .boopa-nav-menu .boopa-nav-menu-buttons .boopa-nav-menu-buttons-container {
      position: relative; }
    .boopa-nav-menu .boopa-nav-menu-buttons a {
      text-decoration: none; }
      .boopa-nav-menu .boopa-nav-menu-buttons a i {
        margin-right: 4px; }
  .boopa-nav-menu .boopa-nav-profile {
    width: 100%;
    max-width: inherit;
    z-index: 15100;
    position: fixed;
    bottom: 0;
    background-color: #1b75bb;
    overflow: hidden; }
    .boopa-nav-menu .boopa-nav-profile .arrow-down {
      display: none; }
    .boopa-nav-menu .boopa-nav-profile.active .arrow-up {
      display: none; }
    .boopa-nav-menu .boopa-nav-profile.active .arrow-down {
      display: block; }
    .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-header {
      cursor: pointer;
      padding: 0.6rem 0.6rem 0;
      color: #e6e7e8; }
      .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-header .profile-lbg {
        font-size: 0.7rem; }
      .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-header .arrow {
        color: #e6e7e8; }
      .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-header .profile-image {
        height: 60px;
        width: 60px;
        margin-right: 0.5rem; }
      .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-header .profile-name {
        margin-top: 0.6rem; }
    .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-submenu {
      transition: max-height 0.5s;
      max-height: 0px; }
      .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-submenu .nav {
        padding-bottom: 1rem; }
      .boopa-nav-menu .boopa-nav-profile .boopa-nav-profile-submenu .nav-link {
        background-color: #1b75bb;
        color: #e6e7e8; }
    .boopa-nav-menu .boopa-nav-profile.active .boopa-nav-profile-submenu {
      max-height: 250px;
      transition: max-height 0.5s; }

@media (max-width: 767px) {
  .boopa-nav-logo {
    display: none; } }

/*# sourceMappingURL=boopa-nav.css.map */
