<nav class="boopa-nav">
  <div class="boopa-nav-header">    
    <a href="#" class="boopa-nav-logo"><h2>  </h2></a>
  </div>
  <button id="boopa-nav-toggle" class="btn boopa-nav-toggle">
    <i class="fa fa-bars boopa-nav-toggle-open" aria-hidden="true"></i>
  </button>
</nav>

<!-- main menu -->
<nav id="boopa-nav-menu" class="boopa-nav-menu">
  <ul id="boopa-nav-accordion" class="nav flex-column boopa-nav-accordion" role="tablist">
    <li class="nav-item" ng-if="user.access==0">
      <a class="nav-link collapsed" ui-sref=".users" >Użytkownicy</a>
    </li>
    <li class="nav-item" ng-if="user.access<2">
      <a class="nav-link collapsed" ui-sref=".lecturesAdmin">Zarządzaj wykładami</a>
    </li>
    <li class="nav-item" ng-if="user.access==2">
      <a class="nav-link collapsed" ui-sref=".lecturesEnroll">Zapisy</a>
    </li>
    <li class="nav-item" ng-if="user.access==2">
      <a class="nav-link collapsed" ui-sref=".myLectures">Moje wykłady</a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" ui-sref="app.login">Wyloguj</a>
      </li>
  </ul>
  <div class="boopa-nav-profile">
    <div class="boopa-nav-profile-header clearfix">      
      <div class="profile-name">{{user.imie}} {{user.nazwisko}}</div>
      <div class="profile-lbg">{{user.accessName}}</div>
      <br/>
    </div>
  </div>
</nav>
        
        
        
<div id="page-wrapper" class="none">
    <div class="container expand-right" ui-view>
    </div>
</div>  
              
              