<h1>Dodanie wykładu</h1>

<form class="survey" ng-submit="processForm()">
   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputBlock">blok</label>
      <select id="inputBlock" ng-model="formData.id_blokobieralny">
        <option ng-repeat="b in blocks" value="{{b.id}}">{{b.nazwa}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Nazwa</label>
      <input type="text" class="form-control" id="inputName" placeholder="nazwa" ng-model="formData.nazwa">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputHours">ilosc godzin</label>
      <input type="text" class="form-control" id="inputHours" placeholder="ilość godzin" ng-model="formData.ilosc_godzin">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLimit">limit osob</label>
      <input type="text" class="form-control" id="inputLimit" placeholder="limit osób" ng-model="formData.ograniczenie">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputKierunek">Kierunek</label>
      <select id="inputKierunek" ng-model="formData.id_kierunek">
        <option ng-repeat="k in kierunki" value="{{k.id}}">{{k.nazwa}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputKierunek">Prowadzący</label>
      <select id="inputKierunek" ng-model="formData.id_prowadzacy">
        <option ng-repeat="p in prowadzacy" value="{{p.id}}">{{p.tytul}} {{p.imie}} {{p.nazwisko}}</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Zapisz</button>
  <button ui-sref-active="active" ui-sref="app.lecturesAdmin" class="btn btn-default">Powrót</button>
</form>