<h1>Użytkownicy</h1>

<h2>Prowadzący</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>      
      <th scope="col"></th>
      <th scope="col">Imie</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Login</th>
      <th scope="col">Katedra</th>
      <!--<th></th>-->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in prowadzacy">
      <th scope="row">{{$index+1}}</th>
      <td>{{ x.tytul }}</td>
      <td>{{ x.imie }}</td>
      <td>{{ x.nazwisko }}</td>
      <td>{{ x.login }}</td>      
      <td>{{ x.katedra }}</td>
      <!--<td><a ui-sref-active="active" ui-sref="app.prowadzacyEdit({uid: x.id})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>-->
      <td><a ng-click="prowadzacyDelete(x.id, $index)"><i class="fa fa-times" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>

<a  ui-sref-active="active" ui-sref="app.addProwadzacy"><button class="btn">nowy prowadzący</button></a>

<h2>Studenci</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imie</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Login</th>
      <th scope="col">Kierunek</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in students">
      <th scope="row">{{$index+1}}</th>
      <td>{{ x.imie }}</td>
      <td>{{ x.nazwisko }}</td>
      <td>{{ x.login }}</td>
      <td>{{ x.kierunek }}</td>
      <!--<td><a ui-sref-active="active" ui-sref="app.studentEdit({uid: x.id})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>-->
      <td><a ng-click="studentDelete(x.id, $index)"><i class="fa fa-times" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>

<a  ui-sref-active="active" ui-sref="app.addStudent"><button class="btn">nowy student</button></a>