$best-blue: #1b75bb;
$best-darkblue: #144372;
$best-lightgreen: #bdd747;
$best-lightgrey: #e6e7e8;
$best-darkgrey: #333333;
$best-white: #ffffff;

$boopa-nav-width: 250px;

$nav-top-bar-color: $best-darkblue;
$nav-menulist-color: $best-blue;
$nav-menulist-selected-color: $best-lightgreen;
$nav-menulist-bg-color: $best-lightgrey;

$welcome-cards-color: $best-blue;

$boopa-ondark-text: $best-lightgrey;